a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
	color: #999;
}

h1 {
	color: #fff;
}

#yearContainer {
	text-align: left;
}

body {
	padding: 1em;
	background: #333;
	font-family: "iroha-25icho Regular", "Din Next Pro", "Helvetica";
}

td {
	border-top: 1px solid #fff;
	text-align:center;
	padding: 1em;
}

td.date {
	background: #000;
	color: #fff;
	width: 10%;
	font-size: 1.3em;
}

td.user_0 {
	background: #333;
	width: 30%;
}

td.user_1 {
	background: #444;
	width: 30%;
}

td.user_2 {
	background: #555;
	width: 30%;
}

.photo {
	margin: 0 0 3em 0;
	min-height: 450px;
}

.meta {
	color: #fff;
	text-align: left;
	display: block;
	background-color: #000;
	padding: .2em 0 .2em .5em;
	font-size: .8em;
}

.meta .counts {
	float: right;
	margin-right: 1em;
}

.caption {
	color: #fff;
	font-size: .9em;
	margin-top: 1em;
	text-align: left;
}

.comments {
	color: #fff;
	font-size: .7em;
	line-height: 120%;
	margin-top: 1em;
	text-align: left;
}

.comments li {
	line-height: 140%;
}

img {
	width: 100%;
}

#selectorContainer {
	text-align: right;
}

